# --- WhatsApp Bot Configuration ---
ADMIN_PHONE_NUMBER=6281234567890@c.us

# --- Logging ---
# Tingkat Log (trace, debug, info, warn, error, fatal)
LOG_LEVEL=debug

# --- Environment ---
# Atur ke 'production' saat deploy
NODE_ENV=development

# --- Database ---
# Path ke file database SQLite (relative dari root proyek)
DATABASE_URL="file:./prisma/dev.db"
